* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: rgb(168, 168, 168);
  width: 350px;
  width: fit-content;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .btn {
    background-color: aliceblue;
    border-radius: 50%;
  }
}
